<h1>Editing Educational And Methodical Work</h1>

<%= render 'form', educational_and_methodical_work: @educational_and_methodical_work %>

<%= link_to 'Show', @educational_and_methodical_work %> |
<%= link_to 'Back', educational_and_methodical_works_path %>
