<h1>New Organizational And Methodical Work</h1>

<%= render 'form', organizational_and_methodical_work: @organizational_and_methodical_work %>

<%= link_to 'Back', organizational_and_methodical_works_path %>
