body {
  background-color: #E5E5E5;
  color: #1F2124;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 18px;
}

main {
  margin-bottom: 30px;
}

h1{
  font-size: 1.75em;
  line-height: 1.1;
  font-weight: bold;
  margin: 0 0 20px;
}

h2{
  font-size: 1.75em;
  line-height: 1.1;
  font-weight: bold;
  margin: 0 0 15px;
}

h3{
  font-size: 1.25em;
  line-height: 1.1;
  font-weight: bold;
}

h4{
  font-size: 1.25em;
  line-height: 1.1;
  font-weight: normal;
  margin: 0;
}

ol, ul, td {
  font-size: 1rem;
  line-height: 1.4;
}

p{
  font-size: 1.125rem;
  line-height: 1.1;
  margin: 0;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
  line-height: 1.1;
}

a {
  color: #000;
  font-size: 1rem;
  line-height: 1.1;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  padding: 15px 20px;
  font-weight: bold;
  background-color: #FFFFFF;
  text-align: left;
}

td {
  height: 70px;
  padding: 0 20px;
  background-color: #F1F3FE;
}

tr:nth-of-type(even) {
  td {
    background-color: #FFFFFF;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-with-shift{
  margin: 0 auto 0 350px;
}

.header-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  margin: 60px 0 45px;
}

.right-header-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-user-info {
  margin-left: 10px;
  h4{
    margin-bottom: 3px;
  }
}

.user-avatar-thumb {
  border-radius: 50%;
  display: block;
  width: 90px;
  height: 90px;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  float: left;
  background-color: #fff;
  padding: 40px 45px;
}

.menu-link {
  text-align: center;
  color: #6C84FF;
  padding: 10px;
  border-radius: 10px;
  transition: .3s ease-out;
  width: 100%;
  &:hover, &.active {
    background: #FFFFFF;
    box-shadow: 1px 4px 30px rgba(0, 0, 0, 0.25);
    text-decoration: none;
  }
}

.menu-img {
  display: block;
  margin: 0 auto 7px;
  width: 100px;
}

.burger, .close-menu {
  display: none;
  width: 50px;
}

.close-menu {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 25px;
}

thead {
  th:first-of-type {
    border-radius: 15px 0 0 0;
  }
  th:last-of-type {
    border-radius: 0 15px 0 0;
  }
}

tbody {
  tr:last-of-type {
    td:first-of-type {
      border-radius: 0 0 0 15px;
    }
    td:last-of-type {
      border-radius: 0 0 15px 0;
    }
  }
}

@media only screen and (max-width: 1500px){
  .menu{
    padding: 20px 30px;
    width: 150px;
  }
  .menu-img {
    width: 60px;
  }
  .container-with-shift {
    margin-left: 210px;
  }
}

@media only screen and (max-width: 1100px){
  .header-grid{
    grid-template-columns: 100px 2fr 1fr;
  }
  .menu{
    padding: 65px 30px;
    right: 0;
    width: auto;
    transform: translateX(-100%);
    transition: .3s ease-out;
    &.visible {
      transform: none;
    }
  }
  .burger, .close-menu {
    display: block;
  }
  .section-main-grid {
    grid-template-columns: 1fr 1fr;
  }
  .container-with-shift {
    margin-left: 0;
  }
}

@media only screen and (max-width: 768px) {
  .header-grid {
    margin: 30px 0;
    grid-template-columns: 100px 1fr;
  }
  .right-header-block {
    order: -1;
    margin-bottom: 15px;
  }
  .section-main-grid {
    grid-template-columns: 1fr;
  }
  .left-header-block {
    grid-column-end: span 2;
  }
  .burger {
    order: -1;
  }
}

@media only screen and (max-width: 360px) {
  .menu-img {
    width: 30px;
  }
}
