// Place all the styles related to the Subjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#error {
  z-index: 999;
  position: fixed;
  bottom: -150%;
  left: 0;
  width: 50vw;
  height: 10vh;
  background-color: #cd5b45;
  border-radius: 5px;
  border: 1px solid #8b0000;
  transition: all .7s ease-out;
  text-align: center;
  padding: 15px;
}

.error-close {
  float: right;
  cursor: pointer;
}

#error.visible {
  bottom: 50%;
}

.user-select-change, .btn-remove-subject, .subject-select-add, .user-select-change-ext,
.btn-remove-extramular-subject, .extramular-subject-select-add, .user-select-change-up,
.btn-remove-subject-up, .user-select-change-ext-up, .btn-remove-extramular-subject-up, .edit-link, .delete-link {
  background-image: url("save.svg");
  background-repeat: no-repeat;
  height: 21px;
  width: 18px;
  padding: 0;
  border: 0;
  background-color: transparent;
  margin-left: 20px;
  &:focus {
    outline: none;
  }
}

.select-user, .select-user-ext {
  height: 20px;
  -webkit-appearance: none;
  border: 0;
  background-color: transparent;
  padding-right: 20px;
  background-image: url("polygon.svg");
  background-repeat: no-repeat;
  background-position: right;
  font-size: 1rem;

  &:focus {
    outline: none;
  }
}

.change-user, .change-user-ext, .user-select-change-up, .user-select-change-ext-up {
  display: flex;
  align-items: center;
}

.btn-remove-subject, .btn-remove-extramular-subject, .btn-remove-subject-up, .btn-remove-extramular-subject-up, .delete-link {
  background-image: url("delete.svg");
  margin: 0;
}

.subject-select-add, .extramular-subject-select-add {
  background-image: url("add.svg");
  margin: 6px 0 0;
}

#empty-disciplines, #empty-disciplines-ext {
  .teacher {
    display: none;
  }
}
