// Place all the styles related to the works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Style the tab */
.tab {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 0;
    transition: 0.3s;
    margin-bottom: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.25rem;
    &:hover {
      border-bottom: 2px solid #4A67FF;
    }
  }
}

/* Create an active/current tablink class */
.tab button.active {
  border-bottom: 2px solid #4A67FF;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
}

#error {
  z-index: 999;
  position: fixed;
  bottom: -150%;
  left: 0;
  width: 50vw;
  height: 10vh;
  background-color: #cd5b45;
  border-radius: 5px;
  border: 1px solid #8b0000;
  transition: all .7s ease-out;
  text-align: center;
  padding: 15px;
}

.error-close {
  float: right;
  cursor: pointer;
}

#error.visible {
  top: 40%;
  left: 25%;
}

.input-work {
  border: 1px solid #ADB7BE;
  box-sizing: border-box;
  border-radius: 5px;
  width: 110px;
  height: 40px;
  font-size: 1rem;
  background-color: transparent;
  text-align: center;
}

.edit-link, .delete-link, .show-link {
  background-image: url("edit.svg");
  margin: 0;
  width: 23px;
  height: 23px;
  display: block;
}

.delete-link {
  background-image: url("delete.svg");
}

.show-link {
  background-image: url("eye.svg");
  height: 16px;
  background-repeat: no-repeat;
}
